
@{
    ViewData["Title"] = "Over Ons";
}

<div id="mainContentWrapper" class="container body-content">
    <div class="sectionWrapper">
        <h3 class="pageTitle">Wie zijn we?</h3>
        <div class="container-fluid pageSection">
            <div class="row">
                <div class="col">
                    <section id="homeAbout">
                        <p class="homeContent">
                            VMatic is een bedrijf die bestaat sedert eind 2017. Wij specializeren ons in het
                            plaatsen van automatische poorten, alsook het automatiseren van reeds bestaande
                            poorten.
                        </p>
                        <p class="homeContent">
                            Wij zijn een klein bedrijf die klantenservice op de eerste plaats stelt. Daarom staan
                            wij ook op ieder moment van de dag, iedere dag van de week klaar voor onze klanten.
                        </p>
                        <p class="homeContent">
                            Het bedrijf noemde eerst TVDoor, maar wij wijzigden recent onze naam naar VMatic.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>