
@{
    ViewData["Title"] = "Over Ons";
}

<div id="mainContentWrapper" class="container body-content">
    <div class="sectionWrapper">
        <h3 class="pageTitle">Wie zijn we?</h3>
        <div class="container-fluid pageSection">
            <div class="row">
                <div class="col">
                    <section id="homeAbout">
                        <p class="homeContent">
                            Hier kan dan eventueel wat informatie komen over het bedrijf, met een foto rechts.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>