
@{
    ViewData["Title"] = "Contact";
}

<div id="mainContentWrapper" class="container body-content">
    <div class="sectionWrapper">
        <h3 class="pageTitle">Onze Contactgegevens</h3>
        <div class="container-fluid pageSection">
            <div class="row">
                <div class="col">
                    <section id="homeAbout">
                        <div class="homeContent">
                            <dl>
                                <dd>Tel:</dd>
                                <dt>+32 468 46 70 46</dt>
                                <dd>Email:</dd>
                                <dt>info@vmatic.be</dt>
                                <dd>Facebook:</dd>
                                <dt>
                                    <a href="https://www.facebook.com/vmatic.be/" class="btn btn-social btn-facebook" role="button">
                                        <span class=""><img src="~/images/Icons/Facebook_icon_square.png" /></span>Klik hier
                                    </a>
                                </dt>
                            </dl>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>