
@{
    ViewData["Title"] = "Contact";
}

<div id="mainContentWrapper" class="container body-content">
    <div class="sectionWrapper">
        <div class="container-fluid pageSection">
            <div class="row">
                <div class="col">
                    <section id="homeAbout">
                        <h1 class="homeSectionTitle">Onze Contactgegevens</h1>
                        <p class="homeContent">
                            <dl id="contact">
                                <dd>Tel:</dd>
                                <dt>+32 468 46 70 46</dt>
                                <dd>Email:</dd>
                                <dt>info@vmatic.be</dt>
                                <dd>Facebook:</dd>
                                <dt>
                                    <a href="https://www.facebook.com/vmatic.be/" class="btn btn-primary btn-sm" role="button">
                                        Klik hier
                                    </a>
                                </dt>
                            </dl>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>