
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<dl>
    <dd>Tel:</dd>
    <dt>+32 468 46 70 46</dt>
    <dd>Email:</dd>
    <dt>info@vmatic.be</dt>
    <dd>Facebook:</dd>
    <dt>
        <a href="https://www.facebook.com/vmatic.be/" class="btn btn-primary btn-sm" role="button">
            Klik hier
        </a>
    </dt>
</dl>