@{
    ViewData["Title"] = "Fout";
}

<div id="mainContentWrapper" class="container body-content">
    <div class="sectionWrapper">
        <h3 class="pageTitle">Er is een fout opgetreden</h3>
        <div class="container-fluid pageSection">
            <div class="row">
                <div class="col">
                    <section id="homeAbout">
                        <p class="homeContent">
                            Er is een fout opgetreden. Probeer eens opnieuw. Indien de fout zich blijft voordoen,
                            contacteert u best de beheerders van de site.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
