
@{
    ViewData["Title"] = "Onder Constructie";
}

<div id="mainContentWrapper" class="container body-content">
    <div class="sectionWrapper">
        <div class="container-fluid pageSection">
            <div class="row">
                <div class="col">
                    <section id="homeAbout">
                        <h1 class="homeSectionTitle">Onder Constructie</h1>
                        <p class="homeContent">
                            Deze pagina is nog onder contstructie, bekijk geregeld de site om de nieuwe
                            pagina's te ontdekken. Gebruik de navigatiebalk om je naar reeds bestaande pagina's te
                            begeven.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>