body {
   
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#logo {
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    font-size: 35px;
    padding: 10px;
}

body div#mainContentWrapper div.pageSection {
    background-color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 40px;
}

body > nav.navbar {
    background-color: black;
    border: none;
}
/*
    --> TODO: Separator bij navbar items

body > nav.navbar li::after {
    content: "|";
    float: right;
    color: #fff;
}
body > nav.navbar li:last-child::after {
    display: none;
}
*/

a.navbar-brand {
    padding: 0;
}

a.navbar-brand>img {
    height: 50px;
}

footer {
    text-align: center;
    color: white;
}

h2 {
    padding: 10px;
}

.carouselTitle {
    font-size: 25px;
    color: white;
    text-align: center;
    font-style: italic;
    border-radius: 15px;
    background-color: red;
    
}

.homeSectionTitle {
    
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    width: 95%;
    margin: auto;
}

.homeContent {
    text-align: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #BCBCBC;
    padding: 5px;
    width: 95%;
}

.carouselTitle {
    background-color: #d8212a;
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 15px;
}

div.carousel-inner div.item img {
    height: 287px;
}

#myCarousel {
    width: 215px;
    margin: auto;
    border: 3px solid #BCBCBC;
    border-radius: 15px;        /* Border Radius van images aanpassen (hoe?)*/
}

#myCarousel .li {
    border-radius: 15px;
}

h3.articleTitle {
    font-weight: bold;
}

.articleContent {
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
a.btn-vmatic {
    background-color: red;
    color: white;
    margin-top: 5px;
    padding: 6px;
    font-size: 19px;
    border-radius: 50px;
}

a.btn-footer {
    background-color: #3B5998;
    color: white;
    margin-top: 5px;
    padding: 6px;
    font-size: 20px;
    border-radius: 3px;
}

#contact {
    margin-left: 40px;
}