body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#logo {
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 35px;
    padding: 10px;
}

body div#mainContentWrapper div.pageSection {
    clear: both;
    background-color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 40px;
}

body nav.navbar {
    background-color: black;
    border: none;
}

a.navbar-brand {
    padding: 0;
}

a.navbar-brand img {
    height: 50px;
}

footer, .carouselTitle, .homeSectionTitle {
    text-align: center;
    color: white;
}

h2 {
    padding: 10px;
}

.carouselTitle, .homeSectionTitle, .pageTitle {
    border-radius: 15px;
}

.carouselTitle, .pageTitle {
    background-color: #d8212a;
}

.carouselTitle {
    font-size: 25px;
    font-style: italic;
    width: 50%;
    position: relative;
    left: 25%;
}

.pageTitle {
    color: white;
    float: left;
    clear: left;
    padding: 10px;
    font-size: 0.95em;
}

.homeSectionTitle {
    background-color: black;
    width: 95%;
    margin: auto;
}

.homeContent {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 95%;
}

.carouselWrapper, #myCarousel, div.carousel-inner div.item img {
    width: 215px;
}

.contentBorder, .imgWrapper, .carouselWrapper {
    border-radius: 15px;
    border: 1px solid #BCBCBC;
}

.imgWrapper, .carouselWrapper {
    padding: 4px;
    background-color: #bcbcbc;
    border-width: 3px;
    box-sizing: content-box;
    margin: auto;
}

.imgWrapper, .imgWrapper img {
    width: 120px;
}

h3.articleTitle {
    font-weight: bold;
}

.articleContent {
    padding: 10px;
    margin-top: 10px;
}

a.btn-vmatic {
    background-color: #d8212a;
    color: white;
    margin-top: 5px;
    padding: 15px;
    font-size: 19px;
    border-radius: 50px;
}

a.btn-facebook {
    background-color: #3B5998;
    color: white;
}

a.btn-facebook img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 3px;
}

a.btn-footer {
    margin-top: 5px;
    padding: 6px;
    font-size: 20px;
    border-radius: 3px;
}

br.separator {
    clear: both;
}

/*
    #footerInfo {
        }
    #copyright {
    font-size: 0.9em;
    font-style: italic;
        }
    --> staat inline in _Layout.cshtml
*/

.body-content {
    padding: 0;
}

.carousel-caption p {
    font-size: 0.8em;
    background-color: black;
    border-radius: 15px;
    border: 1px solid #BCBCBC
}